@mixin container($small: false) {
	$width: auto;
	@if ($small == true) {
		$width: 1170px;
	}
	max-width: #{$width};
	margin: 0 auto;
	flex-grow: 1;
}

@mixin page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

@mixin section {
	padding: 0 15px;
}

@mixin button {
	box-shadow: 0 0 0 1px $c-white;
	border-radius: 20px;
	padding: 13px 20px 12px;
	color: $c-white;
	font-size: 12px;
	
	&:active {
		background: $c-white;
		color: black;
	}
}

@mixin input {
	background: transparentize($c-white, .9);
	border-radius: 7px;
	mix-blend-mode: normal;
	padding: 11px 16px 10px;
	color: $c-white;
	width: 100%;
	font-size: 14px;
	
	&:focus {
		background: transparentize($c-white, .8);
	}
	
	&::placeholder {
		color: $c-white;
		opacity: .4;
	}
}