<template lang="pug">
	input.input(
		:type="type",
		v-model="value",
		:placeholder="placeholder"
	)
</template>

<script>
	import "./Text.scss";
	
	export default {
		watch: {
			value(newValue) {
				this.$emit('setValue', this.name, newValue);
			}
		},
		data() {
			return {
				value: null
			}
		},
		props: {
			name: {
				type: String,
				required: true
			},
			placeholder: {
				type: String
			},
			type: {
				type: String,
				default: 'text',
				validator: function (value) {
					return ['password', 'text'].indexOf(value) > -1;
				}
			}
		}
	}
</script>