<template lang="pug">
	.index
		form.index__form.form
			.form__group
				label.form__label(for="query") Type query
				.form__field
					input.form__input(v-model="query", id="query")
			.form__hint(v-if="loading") Loading...
			.form__matches
				button.form__match(
					v-for="(match, index) in filteredMatches",
					:key="index",
					@click.prevent="query = match.value"
				)
					span.form__match-value(v-html="match.value")
					span.form__match-type(v-html="getType(match.type)")
			
</template>

<script>
	import "./Index.scss";
	
	import API from '../../../classes/API';
	
	export default {
		methods: {
			getType(source) {
				return source.charAt(0).toUpperCase() + source.slice(1);
			},
			processQuery() {
				this.loading = true;
				API.processQuery({
						query: this.query
					})
					.then(response => {
						this.matches = response.items;
						
						this.loading = false;
					})
					.catch(response => {
						this.loading = false;
						console.log(response);
					})
			}
		},
		computed: {
			filteredMatches() {
				return this.matches.filter(item => {
					return item.value !== this.query;
				})
			}
		},
		watch: {
			query(query) {
				this.matches = [];
				if(this.matches[0] && this.matches[0].value === query) {
					return;
				}
				if(query.length >= 3) {
					if (this.timeout) {
						clearTimeout(this.timeout);
					}
					// this.timeout = setTimeout(this.processQuery, 250);
					this.processQuery();
				}
			}
		},
		data() {
			return {
				loading: false,
				timeout: null,
				query: '',
				matches: []
			}
		}
	}
</script>