@import "~css-utils";

.index {
	@include section;
	background: #646464;
	height: 100%;
	
	&__form {
		@include container(true);
	}
	
	.form {
		&__label {
			padding-top: 20px;
			display: block;
			font-size: 2rem;
			color: $c-white;
		}
		
		&__field {
			margin-top: 20px;
		}
		
		&__input {
			@include input;
			font-size: 1.5rem;
		}
		
		&__hint {
			margin-top: 20px;
			font-size: 1.125rem;
			color: $c-white;
			opacity: .7;
		}
		
		&__matches {
			margin-top: 20px;
		}
		
		&__match {
			@include button;
			width: 100%;
			font-size: 1.25rem;
			text-align: left;
			&:not(:nth-child(1)) {
				margin-top: 10px;
			}
		}
		
		&__match-type {
			font-size: 1rem;
			opacity: .6;
			display: inline-block;
			margin-left: 10px;
		}
	}
}