@import "~css-utils";

@import url('https://fonts.googleapis.com/css?family=Roboto');

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

* {
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	outline: none;
	appearance: none;
	background: none;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

:root {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.12;
	
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: none;
	-webkit-font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

input, textarea, button, select {
	font: inherit;
}

svg {
	height: 100%;
	width: 100%;
	display: block;
}